<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {color: rgb(255, 255, 255); background-color: rgb(32, 33, 33); font-family: "Century Gothic";}
        h1, h2, h3, h4, h5, p {text-align: center;}
        form {text-align: left;}
        img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 11px;
            }
        a {
            display: block;
            width: 230px;
            margin: auto;
        }
        </style>
</head>
<body>
<h1>Explore Limited Movies</h1>
<h2>{{title}}</h2>
<h4>{{tagline}}</h4>
<h5>{{genre}}</h5>
<img src="{{img}}" alt="MOWIE">
<p> </p>
<a href="{{link}}">Visit Wikipedia for the movie!</a>

<h5>What do you think of this movie?</h5>
<form method="post" action="/movies/submitted">
    <label for="rating">Rating (1-10):</label><br>
    <input type="text" name="rating"><br>
    <label for="comments">Comments:</label><br>
    <input type="text" id="comments" name="comments"><br>
</form>

<h3>What other users said:</h3>
</body>
</html>